@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-dusk-dark: #502d55;
    --color-dusk-primary: #935073;
    --color-dusk-accent: #f6dbc0;
    --color-dusk-light: #f8f4e9;
  }
}